@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-Italic.eot');
    src: url('ChampagneLimousines-Italic.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-Italic.woff') format('woff'),
        url('ChampagneLimousines-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body{
    background-image:url('sfondo.jpeg');
    background-size: cover;
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    overflow: hidden;
}

#formIscrivi, #formAccedi{
    position: relative;
    left: 32vw;
    margin-top: 15vw;
}

table{ 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
}

.inserimento{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 2vw;
    width: 25vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;
    border-radius: 5px; 
}

.inserimento_num{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 2vw;
    width: 7.7vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;
    border-radius: 5px; 
}

.inserimento_box{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 10vw;
    width: 25vw;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;
    border-radius: 5px;
    font-size: 1.5vw;
}

.bottoni{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0vw;
    height: 2vw;
    width: 6vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
    border-radius: 5px; 
    transition-property: background-color;
    transition-duration: 0.1s;
}

.bottoni:hover {
    background-color: #cfcfcf;
}

/* formattazione per bottone aggiungi ricette*/
.bottoni2{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0vw;
    height: 2vw;
    width: 10vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
    border-radius: 5px; 
    transition-property: background-color;
    transition-duration: 0.1s;
}

.bottoni2:hover {
    background-color: #cfcfcf;
}

#bottoni_pos{
    position: relative;
    left: 13vw;
}

#bottoni_pos2{
    position: relative;
    left: 8vw;
}

#pulsanti {
    /* qui uso absolute per fissare accedi/iscriviti indipendentemente da tutto il resto */
    position:absolute;
    right:5px; top:5px; 
}

#container{
    margin-left: 40vw;
    margin-top: 10vw;
}

#pulsanti {
    position:absolute;
    right:5px; top:5px; 
}

#pulsante_home{
    position:absolute;
    left:5px; top:5px; 
}

input{
    font-size: 1.5vw;
}

label{
    font-size: 1.5vw;
    text-decoration: underline;
}

#voto{
    position: absolute;
    left: 44vw;
    top: 35vw;
}

.Stelle{
    height: 1.5vw;
    width: 1.5vw;
}

#valuta{
    position: absolute;
    left: 45vw;
    top: 42vw;
}

#fotoRicetta{
    position: absolute;
    left: 12vw;
    top: 18vw;
    width: 20vw;
    height: 20vw;
}

#fotoRicetta img {
    height: 70%;
    width: 100%;
}