@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-Italic.eot');
    src: url('ChampagneLimousines-Italic.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-Italic.woff') format('woff'),
        url('ChampagneLimousines-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body{
    background-image:url('sfondo.jpeg');
    background-size: cover;
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
}

#formCerca{
    position: absolute;
    margin-top: 15vw;
    left: 0vw;
}

#barra{
    position: relative;
    left: 25vw;
}

#listaIngredienti{
    position: relative;
    left: 17vw;
}

table{ 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
}

img{
    height: 11vw;
}

/* checkbox ingredienti */
.cella{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 2vw;
    width: 6vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    border-radius: 5px; 
}

.cella2{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 2vw;
    width: 20vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;
    border-radius: 5px;
}

.boxProcedimento{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    height: 2vw;
    width: 40vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;  
}

/* barra ingredienti in homepage */
#ingredienti{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0vw;
    height: 2.5vw;
    width: 40vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 5px;
}

/* formattazione generale bottoni */
.bottoni{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0vw;
    height: 2vw;
    width: 6vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
    border-radius: 5px; 
}

/* formattazione per bottone aggiungi ricette*/
.bottoni2{
    position: relative;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0vw;
    height: 2vw;
    width: 10vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
    border-radius: 5px; 
}

#bottoni_pos{
    position: relative;
    left: 17vw;
}

#pulsanti {
    /* qui uso absolute per fissare accedi/iscriviti indipendentemente da tutto il resto */
    position:absolute;
    right:5px; top:5px; 
}

#formRicetta{
    position: relative;
    left: 24vw;
    right: 20vw;
    margin-top: 12vw;
}

#dolciContainer{
    position: absolute;
    top: 38vw;
    height: 16vw;
    width: 94vw;
    left: 1vw;
    background-color:rgb(175, 33, 33);
    border-radius: 5px;
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ;
    font-size: 1.5vw;    
}

#caption_dolci{
    position: relative;
    left: 1vw;
    top: 0.5vw;
}

#dolce{
    position: relative;
    left: 4vw;
    top: 1.5vw;   
}

/* specifiche per gestire la transizione sui dolci */
.transizione {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.transizione img {
    display: block;
    -moz-transition:800ms;
    -webkit-transition: 800ms; 
    -o-transition: 800ms; 
    transition: 800ms;
}

.transizione figcaption {
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: .5rem;
    position: absolute;
    -webkit-transition: 800ms; 
    -o-transition: 800ms; 
    transition: 800ms;
    width: 100%;
    cursor: pointer;
}

.transizione[data-effect="fade-in"] figcaption {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
}

.transizione[data-effect="fade-in"]:hover figcaption {
    opacity: 1;
}

video{
    position: absolute;
    margin-left: 30vw;
    margin-top: 10vw;
    width: 32vw;
    height: 24vw;
}

#titoloRicetta{
    position: absolute;
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 2.5vw;
    color: #fff;
    margin-left: 48vw;
    margin-top: 8vw;
}

input{
    font-family: "Champagne & Limousines" , "ChampagneLimousines-Italic" , italic ; 
    font-size: 1.5vw;
}

#ingredientiDolci{
    position: absolute;
    top: 15vw;
    left: 10vw;
    color:white;
    font-size: 1.5vw;
}